<div id="search-engine">
	<fieldset>
		<legend>Encuentra tu hotel</legend>
		<div class="fields">
			<div class="control">
				<label for="locale">Ubicaci&oacute;n/Destino</label>
				<input id="locale" type="text" />
			</div>
			<div class="control">
				<label for="hStart">Horario</label>
				<select id="hStart">
					<option value="18:00:00">6:00 pm</option>
					<option value="19:00:00">7:00 pm</option>
				</select>
			</div>
		</div>
	</fieldset>
</div>